@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext");

:root {
	--smoothly-font-family: "Open Sans", Arial, sans-serif;
	/* --mobile-breakpoint: "600px";
--laptop-breakpoint: "1200"; */
	background-color: rgb(var(--smoothly-dark-color));
}

h1 {
	font-size: 1.4em;
	font-weight: 400;
}

body {
	max-width: 100%;
	margin: 0 auto;
	background-color: rgb(var(--smoothly-default-color));
	min-height: 100vh;
}
